.titleTextDesktop {
  font-size: 20vh;
  font-family: 'Lobster', cursive;
  color: whitesmoke;
}

.mainTextDesktop {
  font-size: 10vh;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  text-align: center;
}

.subTextDesktop {
  font-size: 5vh;
  margin-top: 5vh;
  font-family: 'Lobster', cursive;
  color: whitesmoke;
}

.playerDisplayDesktop {
  margin: 1.25vw;
  margin-top: .5vw;
  display: inline-block;
  align-content: center;
  text-align: center;
  width: 12vw;
}

.playerDisplayDesktop img {
  width: 10vw;
  animation: shake 3s;
  animation-iteration-count: infinite;

}

.playerDisplayDesktop>* {
  font-family: 'Lobster', cursive;
  color: whitesmoke;
  font-size: 4vh;
}