.titleTextDesktop {
  font-size: 20vh;
  font-family: 'Lobster', cursive;
  color: whitesmoke;
}

.mainTextDesktop {
  font-size: 10vh;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  text-align: center;
}

.subTextDesktop {
  font-size: 5vh;
  margin-top: 5vh;
  font-family: 'Lobster', cursive;
  color: whitesmoke;
}

.playerDisplay {
  margin: 1.25vw;
  margin-top: .5vw;
  display: inline-block;
  align-content: center;
  text-align: center;
  width: 12vw;
}

.playerDisplay img {
  width: 10vw;
    animation: shake 3s;
    animation-iteration-count: infinite;
  
}

@keyframes shake {
  0% {transform: rotate(10deg);}
  50% {transform: rotate(-10deg);}
  100% {transform: rotate(10deg);}
}

.playerDisplay > * {
  font-family: 'Lobster', cursive;
  color: whitesmoke;
  font-size: 4vh;
}