@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
}

.first,
.second,
.third {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.second,
.third {
  opacity: 0;
}

.first {
  animation: first 10s infinite;
  /* background: linear-gradient(#45ADA8, #547980); */
  background: linear-gradient( #60e08c, #5ff8ca);
  z-index: 1;
}
  @keyframes first {
    0% {opacity: 1.0;}
    10% {opacity: 0.8;}
    20% {opacity: 0.6;}
    30% {opacity: 0.4;}
    40% {opacity: 0.2;}
    50% {opacity: 0.1;}
    60% {opacity: 0.2;}
    70% {opacity: 0.4;}
    80% {opacity: 0.6;}
    90% {opacity: 0.8;}
    100% {opacity: 1.0;}
  }

.second {
  animation: second 10s infinite; animation-delay: 2s;
  /* background: linear-gradient(rgb(119, 160, 172), rgb(47, 68, 77)); */
  background: linear-gradient(#19eaa6, #00a1f0);
  z-index: 2;
}
  @keyframes second {
    0% {opacity: 0;}
    10% {opacity: 0.2;}
    20% {opacity: 0.4;}
    30% {opacity: 0.6;}
    40% {opacity: 0.8;}
    50% {opacity: 1.0;}
    60% {opacity: 0.8;}
    70% {opacity: 0.6;}
    80% {opacity: 0.4;}
    90% {opacity: 0.2;}
    100% {opacity: 0;}
  }

.third {
  animation: third 10s infinite;
  animation-delay: 8s;
  /* background: linear-gradient(#610A16, #3D024E); */
  background: linear-gradient(#aab7f8, #ff75c6);
  z-index: 3;
}
  @keyframes third {
    0% {opacity: 0;}
    10% {opacity: 0.2;}
    20% {opacity: 0.4;}
    30% {opacity: 0.6;}
    40% {opacity: 0.8;}
    50% {opacity: 1.0;}
    60% {opacity: 0.8;}
    70% {opacity: 0.6;}
    80% {opacity: 0.4;}
    90% {opacity: 0.2;}
    100% {opacity: 0;}
  }

.titleContainer {
  z-index: 4;
  position: absolute;
  margin: auto; /* Important */ 
  text-align: center; 
  width: 100%;
  padding-top: 15vh;
}

.mainContainer {
  z-index: 4;
  position: absolute;
  /* margin: auto; */
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.titleText {
  font-size: 20vh;
  font-family: 'Lobster', cursive;
  color: whitesmoke;
}

.mainText {
  font-size: 10vh;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  text-align: center;
}

.subText {
  font-size: 5vh;
  margin-top: 5vh;
  font-family: 'Lobster', cursive;
  color: whitesmoke;
}

button {
  border-radius: 8px;
  background-color:transparent;
  padding: 16px 32px;
  border: 2px solid #ffffff;
  font-size: 5vh;
  color: white;
  z-index: 60;
  cursor:pointer;
  margin-top: 10vh;
  font-family: 'Montserrat', sans-serif;
}

.playerDisplay {
  margin: 1.25vw;
  margin-top: .5vw;
  display: inline-block;
  align-content: center;
  text-align: center;
  width: 12vw;
}

.playerDisplay img {
  width: 10vw;
    animation: shake 3s;
    animation-iteration-count: infinite;
  
}

@keyframes shake {
  0% {transform: rotate(10deg);}
  50% {transform: rotate(-10deg);}
  100% {transform: rotate(10deg);}
}

.playerDisplay > * {
  font-family: 'Lobster', cursive;
  color: whitesmoke;
  font-size: 4vh;
}